<!doctype html>
<html>
<head>
    <title>Lista de Coches</title>
</head>
<body>
    <h1>Lista de Coches</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Año</th>
        </tr>
        {% for row in data %}
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
                <td>{{ row[3] }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>
